In [1]:
import duckdb
import pandas as pd

In [2]:
# Import jupysql Jupyter extension to create SQL cells
%load_ext sql

In [3]:
%config SqlMagic.autopandas = True
%config SqlMagic.feedback = False
%config SqlMagic.displaycon = False

In [4]:
%sql duckdb:///:memory:

In [5]:
%sql CREATE TABLE MBR AS SELECT * FROM read_csv("Z_CS_MBR_ELIG_pandas.csv", columns={'PAYER': 'VARCHAR', 'LOB': 'VARCHAR', 'MEMBER_ID':'VARCHAR', 'DOB':  'VARCHAR', 'GENDER': 'VARCHAR', 'RACE_ETH': 'VARCHAR'});

   Count
0     81

In [6]:
%sql select * from MBR limit 5;

    PAYER         LOB      MEMBER_ID        DOB  GENDER  RACE_ETH
0   PAYER         LOB      MEMBER_ID        DOB  GENDER  RACE_ETH
1  PAYER1  Commercial  PAYER1_000001  01-JAN-76       F     WHITE
2  PAYER1  Commercial  PAYER1_000002  01-JAN-56       M   UNKNOWN
3  PAYER1  Commercial  PAYER1_000003  01-JAN-63       M   UNKNOWN
4  PAYER1  Commercial  PAYER1_000004  01-JAN-62       M   UNKNOWN

In [7]:
%sql DELETE FROM MBR WHERE PAYER='PAYER';

   Count
0      1

In [16]:
%sql select * from MBR limit 5;

    PAYER         LOB      MEMBER_ID        DOB GENDER RACE_ETH
0  PAYER1  Commercial  PAYER1_000001  01-JAN-76      F    WHITE
1  PAYER1  Commercial  PAYER1_000002  01-JAN-56      M  UNKNOWN
2  PAYER1  Commercial  PAYER1_000003  01-JAN-63      M  UNKNOWN
3  PAYER1  Commercial  PAYER1_000004  01-JAN-62      M  UNKNOWN
4  PAYER1  Commercial  PAYER1_000005  01-JAN-61      M  UNKNOWN

In [9]:
%sql drop table MBR_TMP

(duckdb.CatalogException) Catalog Error: Table with name MBR_TMP does not exist!
Did you mean "MBR"?
[SQL: drop table MBR_TMP]
(Background on this error at: https://sqlalche.me/e/14/f405)

In [10]:
%sql drop table MBR_TMP_2

(duckdb.CatalogException) Catalog Error: Table with name MBR_TMP_2 does not exist!
Did you mean "MBR"?
[SQL: drop table MBR_TMP_2]
(Background on this error at: https://sqlalche.me/e/14/f405)

In [11]:
%sql create TEMP TABLE MBR_TMP_2 AS select *, cast(SUBSTR(DOB, 8) as integer) YEAR_DOB  from MBR

   Count
0     80

In [12]:
%sql  create TEMP TABLE MBR_TMP AS  select *, CASE WHEN YEAR_DOB > 20 THEN 20 + (2000 - (1900 + YEAR_DOB)) ELSE  20 - YEAR_DOB + 1 END AS AGE from MBR_TMP_2

   Count
0     80

In [13]:
%sql select * from MBR_TMP order by age asc

,PAYER,LOB,MEMBER_ID,DOB,GENDER,RACE_ETH,YEAR_DOB,AGE
0,PAYER3,Medicaid,PAYER3_000004,01-JAN-08,F,HISPANIC,8,13
1,PAYER3,Medicaid,PAYER3_000006,01-JAN-06,M,ASIAN,6,15
2,PAYER3,Medicaid,PAYER3_000007,01-JAN-04,M,HISPANIC,4,17
3,PAYER3,Medicaid,PAYER3_000005,01-JAN-03,F,HISPANIC,3,18
4,PAYER3,Medicaid,PAYER3_000011,01-JAN-03,F,BLACK OR AFRICAN-AMERICAN,3,18
...,...,...,...,...,...,...,...,...
75,PAYER2,MA,PAYER2_000003,01-JAN-34,M,WHITE,34,86
76,PAYER2,MA,PAYER2_000004,01-JAN-33,F,HISPANIC,33,87
77,PAYER2,MA,PAYER2_000013,01-JAN-31,F,UNKNOWN,31,89
78,PAYER4,Medicare,PAYER4_000005,01-JAN-31,M,UNKNOWN,31,89
79,PAYER4,Medicare,PAYER4_000001,01-JAN-26,F,WHITE,26,94

In [14]:
%sql alter table MBR_TMP drop column YEAR_DOB

Empty DataFrame
Columns: []
Index: []

In [15]:
%sql select * from MBR_TMP order by age asc

,PAYER,LOB,MEMBER_ID,DOB,GENDER,RACE_ETH,AGE
0,PAYER3,Medicaid,PAYER3_000004,01-JAN-08,F,HISPANIC,13
1,PAYER3,Medicaid,PAYER3_000006,01-JAN-06,M,ASIAN,15
2,PAYER3,Medicaid,PAYER3_000007,01-JAN-04,M,HISPANIC,17
3,PAYER3,Medicaid,PAYER3_000005,01-JAN-03,F,HISPANIC,18
4,PAYER3,Medicaid,PAYER3_000011,01-JAN-03,F,BLACK OR AFRICAN-AMERICAN,18
...,...,...,...,...,...,...,...
75,PAYER2,MA,PAYER2_000003,01-JAN-34,M,WHITE,86
76,PAYER2,MA,PAYER2_000004,01-JAN-33,F,HISPANIC,87
77,PAYER2,MA,PAYER2_000013,01-JAN-31,F,UNKNOWN,89
78,PAYER4,Medicare,PAYER4_000005,01-JAN-31,M,UNKNOWN,89
79,PAYER4,Medicare,PAYER4_000001,01-JAN-26,F,WHITE,94

In [17]:
%sql CREATE TABLE CLAIM AS SELECT * FROM read_csv_auto("Z_CS_CLAIM_HDR.csv");

   Count
0   3230

In [18]:
%sql select * from CLAIM limit 5;

,PAYER,LOB,MEMBER_ID,CLAIM_ID,DATE_OF_SERVICE,EFFPER,TCC_PAID,SERVICING_NPI,CLAIM_TYPE
0,PAYER1,Commercial,PAYER1_000001,PAYER1_000001_0066,01-FEB-20,2020-02,0,1316963663,Professional
1,PAYER1,Commercial,PAYER1_000001,PAYER1_000001_0417,01-OCT-20,2020-10,100,1073735783,Professional
2,PAYER1,Commercial,PAYER1_000001,PAYER1_000001_0427,01-OCT-20,2020-10,0,1356498653,Professional
3,PAYER1,Commercial,PAYER1_000001,PAYER1_000001_0513,01-DEC-20,2020-12,0,1356498653,Professional
4,PAYER1,Commercial,PAYER1_000002,PAYER1_000002_0270,01-JUL-20,2020-07,100,1376990879,Professional

In [19]:
%sql CREATE TABLE MBR_ELIG AS SELECT * FROM read_csv_auto("Z_CS_MBR_ELIG_MTHS.csv");

   Count
0    825

In [20]:
%sql select * from MBR_ELIG limit 5;

,PAYER,LOB,MEMBER_ID,EFFPER,NPI,PRACTICE,MEMBER_MONTHS,EMPLOYMENT_STATUS,DIABETES,VASCULAR_DISEASE,PAD,COPD,CHF,AMI,STROKE,ASTHMA
0,PAYER1,Commercial,PAYER1_000001,2020-01,1922323310,North Shore Med Group of Mount Sinai,1,Terminated,0,0,0,0,0,0,0,0
1,PAYER1,Commercial,PAYER1_000001,2020-02,1922323310,North Shore Med Group of Mount Sinai,1,Terminated,0,0,0,0,0,0,0,0
2,PAYER1,Commercial,PAYER1_000001,2020-03,1922323310,North Shore Med Group of Mount Sinai,1,Terminated,0,0,0,0,0,0,0,0
3,PAYER1,Commercial,PAYER1_000001,2020-04,1922323310,North Shore Med Group of Mount Sinai,1,Terminated,0,0,0,0,0,0,0,0
4,PAYER1,Commercial,PAYER1_000001,2020-05,1477569416,Mount Sinai Doctors Long Island - Huntington,1,Employed,0,0,0,0,0,0,0,0

In [21]:
%sql select distinct PRACTICE from MBR_ELIG where NPI = '1922323310'

                               PRACTICE
0  North Shore Med Group of Mount Sinai

In [22]:
%sql select distinct PRACTICE from MBR_ELIG where NPI = '1225083546'

                                            PRACTICE
0  Mount Sinai Doctors Staten Island - Victory In...

#  What are the top 3 Practices with the most patients?

In [23]:
%sql select  NPI, PRACTICE, count(distinct MEMBER_ID) MEMBER_COUNT from MBR_ELIG group by PRACTICE,NPI order by MEMBER_COUNT desc limit 5

          NPI                                           PRACTICE  MEMBER_COUNT
0  1225083546  Mount Sinai Doctors Staten Island - Victory In...             4
1  1871520049        Mount Sinai Doctors Long Island - Nesconset             3
2  1942292206                Primary PartnerCare Physicians PLLC             2
3  1316987548                           One Medical - Park Slope             2
4  1215940531          Mount Sinai Doctors Bellmore Primary Care             2

In [24]:
%sql select distinct NPI, PRACTICE,  MEMBER_ID from MBR_ELIG where NPI = '1225083546'

,NPI,PRACTICE,MEMBER_ID
0,1225083546,Mount Sinai Doctors Staten Island - Victory In...,PAYER1_000011
1,1225083546,Mount Sinai Doctors Staten Island - Victory In...,PAYER1_000012
2,1225083546,Mount Sinai Doctors Staten Island - Victory In...,PAYER1_000014
3,1225083546,Mount Sinai Doctors Staten Island - Victory In...,PAYER2_000001

In [25]:
%sql select  SERVICING_NPI NPI, count(distinct MEMBER_ID) MEMBER_COUNT from CLAIM group by SERVICING_NPI order by MEMBER_COUNT desc limit 5

          NPI  MEMBER_COUNT
0  1932145778            38
1  1063497451            17
2  1366543795            14
3  1376587113            12
4  1902809940            12

In [27]:
%sql select  NPI, PRACTICE  from  MBR_ELIG where NPI in ('1932145778', '1063497451', '1366543795','1376587113','1902809940')

Empty DataFrame
Columns: []
Index: []

In [30]:
%sql select * from CLAIM where SERVICING_NPI == '1932145778' limit 3

,PAYER,LOB,MEMBER_ID,CLAIM_ID,DATE_OF_SERVICE,EFFPER,TCC_PAID,SERVICING_NPI,CLAIM_TYPE
0,PAYER1,Commercial,PAYER1_000002,PAYER1_000002_0485,01-NOV-20,2020-11,100,1932145778,Professional
1,PAYER1,Commercial,PAYER1_000003,PAYER1_000003_0147,01-MAR-20,2020-03,0,1932145778,Professional
2,PAYER1,Commercial,PAYER1_000003,PAYER1_000003_0275,01-JUN-20,2020-06,100,1932145778,Professional

In [33]:
%sql SELECT count(distinct SERVICING_NPI) FROM CLAIM

   count(DISTINCT "SERVICING_NPI")
0                             1028

In [34]:
%sql SELECT count(distinct NPI) FROM MBR_ELIG

   count(DISTINCT "NPI")
0                     74

In [42]:
%sql select distinct DIABETES from CS_MBR_ELIG

   DIABETES
0         0
1         1

In [32]:
#%sql select * from MBR_ELIG where  MEMBER_ID = 'PAYER1_000002'

# What NPI & Practice has the highest volume of Diabetic Patients? (Having Diabetes at any point in time)

In [38]:
%%sql select NPI, PRACTICE, EFFPER, count(DISTINCT MEMBER_ID) AS PATIENT_VOLUME from MBR_ELIG
      where DIABETES == 1
      group by NPI, PRACTICE, EFFPER
      order by PATIENT_VOLUME DESC

,NPI,PRACTICE,EFFPER,PATIENT_VOLUME
0,1225083546,Mount Sinai Doctors Staten Island - Victory In...,2020-10,3
1,1225083546,Mount Sinai Doctors Staten Island - Victory In...,2020-11,3
2,1225083546,Mount Sinai Doctors Staten Island - Victory In...,2020-12,3
3,1215940531,Mount Sinai Doctors Bellmore Primary Care,2020-08,2
4,1215940531,Mount Sinai Doctors Bellmore Primary Care,2020-09,2
...,...,...,...,...
326,1861498875,Mount Sinai Doctors Manhasset,2020-10,1
327,1871520049,Mount Sinai Doctors Long Island - Nesconset,2020-07,1
328,1497783583,Cardiovascular Disease,2020-08,1
329,1326031535,Jasty & Manvar MD PC,2020-01,1
330,1952728255,Unknown Practice - Employed,2020-12,1

In [39]:
%sql select  NPI,   PRACTICE,   count(distinct MEMBER_ID) Count from MBR_ELIG  where DIABETES == 1 group by NPI, PRACTICE order by Count desc limit 10

          NPI                                           PRACTICE  Count
0  1225083546  Mount Sinai Doctors Staten Island - Victory In...      3
1  1215940531          Mount Sinai Doctors Bellmore Primary Care      2
2  1588641849                            Frank Scafuri III DO PC      2
3  1811302540       Mount Sinai Doctors Long Island - Huntington      2
4  1609988211                          First Choice Medical PLLC      1
5  1326129263                                Renee Lefland MD PC      1
6  1366463820                       Unknown Practice - Voluntary      1
7  1275795049                Primary PartnerCare Physicians PLLC      1
8  1285658518                        Unknown Practice - Employed      1
9  1821073917  Mount Sinai Doctors Staten Island Primary Care...      1

# Calculate the Per Member Per Month Paid $ amount of Diabetic Patients vs. Non-Diabetic Patients

In [42]:
%%sql select TOTAL/PATIENT_COUNT PMPM, case NMONTH
             when 1 then 'JAN'
             when 2 then 'FEB'
             when 3 then 'MAR'
             when 4 then 'APR'
             when 5 then 'MAY'
             when 6 then 'JUN'
             when 7 then 'JUL'
             when 8 then 'AUG'
             when 9 then 'SEP'
             when 10 then 'OCT'
             when 11 then 'NOV'
             when 12 then 'DEC'
             else 'UNK'
             end as MONTH
     from( select count(distinct claim.member_id) PATIENT_COUNT , sum(TCC_PAID) TOTAL,
        case str_split(DATE_OF_SERVICE, '-')[2] 
             when 'JAN' then 1
             when 'FEB' then 2
             when 'MAR' then 3
             when 'APR' then 4
             when 'MAY' then 5
             when 'JUN' then 6
             when 'JUL' then 7
             when 'AUG' then 8
             when 'SEP' then 9
             when 'OCT' then 10
             when 'NOV' then 11
             when 'DEC' then 12
             else -1
             end as NMONTH
        from CLAIM claim
        join MBR_ELIG elig on claim.MEMBER_ID = elig.MEMBER_ID
        where elig.DIABETES == 0
        group by NMONTH)
     order by NMONTH asc

     PMPM MONTH
0    6588   JAN
1   69350   FEB
2   10700   MAR
3   10685   APR
4   37794   MAY
5   15642   JUN
6   15476   JUL
7   14667   AUG
8    9113   SEP
9   14574   OCT
10   7013   NOV
11  14079   DEC

# Explore the relationship between patient demographic (age, gender, and race_eth) and patient disease with total cost of care. Is there any type of trend you can identify?

In [55]:
%sql select * from CS_MBR  limit 2;

    PAYER         LOB      MEMBER_ID        DOB GENDER RACE_ETH
0  PAYER1  Commercial  PAYER1_000001  01-JAN-76      F    WHITE
1  PAYER1  Commercial  PAYER1_000002  01-JAN-56      M  UNKNOWN

In [61]:
#%sql select * from CS_MBR_TMP where year_dob > 8 order by year_dob asc

In [62]:
%sql select * from CS_MBR_ELIG  limit 2;

,PAYER,LOB,MEMBER_ID,EFFPER,NPI,PRACTICE,MEMBER_MONTHS,EMPLOYMENT_STATUS,DIABETES,VASCULAR_DISEASE,PAD,COPD,CHF,AMI,STROKE,ASTHMA
0,PAYER1,Commercial,PAYER1_000001,2020-01,1922323310,North Shore Med Group of Mount Sinai,1,Terminated,0,0,0,0,0,0,0,0
1,PAYER1,Commercial,PAYER1_000001,2020-02,1922323310,North Shore Med Group of Mount Sinai,1,Terminated,0,0,0,0,0,0,0,0

In [63]:
%sql df_elig << select * from CS_MBR_ELIG;

In [64]:
df_elig.head(2)

,PAYER,LOB,MEMBER_ID,EFFPER,NPI,PRACTICE,MEMBER_MONTHS,EMPLOYMENT_STATUS,DIABETES,VASCULAR_DISEASE,PAD,COPD,CHF,AMI,STROKE,ASTHMA
0,PAYER1,Commercial,PAYER1_000001,2020-01,1922323310,North Shore Med Group of Mount Sinai,1,Terminated,0,0,0,0,0,0,0,0
1,PAYER1,Commercial,PAYER1_000001,2020-02,1922323310,North Shore Med Group of Mount Sinai,1,Terminated,0,0,0,0,0,0,0,0

In [86]:
%%sql df << SELECT 
  CS_MBR_TMP.age, 
  CS_MBR_ELIG.DIABETES,
  SUM(CLAIM_HDR.TCC_PAID) AS TOTAL_COST
FROM 
  CLAIM_HDR 
  JOIN CS_MBR_TMP ON CLAIM_HDR.MEMBER_ID = CS_MBR_TMP.MEMBER_ID 
  JOIN CS_MBR_ELIG ON CLAIM_HDR.MEMBER_ID = CS_MBR_ELIG.MEMBER_ID
GROUP BY 
  CS_MBR_TMP.age, 
  CS_MBR_ELIG.DIABETES
ORDER BY 
  TOTAL_COST DESC, AGE;

In [86]:
%%sql df << SELECT 
  CS_MBR_TMP.age, 
  CS_MBR_TMP.RACE_ETH, 
  CS_MBR_ELIG.DIABETES,
  SUM(CLAIM_HDR.TCC_PAID) AS TOTAL_COST
FROM 
  CLAIM_HDR 
  JOIN CS_MBR_TMP ON CLAIM_HDR.MEMBER_ID = CS_MBR_TMP.MEMBER_ID 
  JOIN CS_MBR_ELIG ON CLAIM_HDR.MEMBER_ID = CS_MBR_ELIG.MEMBER_ID
GROUP BY 
  CS_MBR_TMP.age, 
  CS_MBR_ELIG.DIABETES
ORDER BY 
  TOTAL_COST DESC, AGE;

In [87]:
df.sort_values(by="AGE")

    AGE  DIABETES  TOTAL_COST
53   13         0        6000
40   15         0       18000
33   17         0       33000
54   18         0        6000
60   23         0        1200
..  ...       ...         ...
9    86         1      550800
18   87         1      219500
39   89         0       20000
16   89         1      255600
5    94         1      850800

[63 rows x 3 columns]

In [69]:
# %%sql SELECT 
#   CS_MBR_TMP.age, 
#   CS_MBR_TMP.gender, 
#   CS_MBR_TMP.race_eth, 
#   diagnoses.disease, 
#   DATE_TRUNC('month', costs.timestamp) AS month, 
#   SUM(costs.cost) OVER (
#     PARTITION BY 
#       demographics.age, 
#       demographics.gender, 
#       demographics.race_eth, 
#       diagnoses.disease 
#     ORDER BY 
#       costs.timestamp 
#     ROWS BETWEEN 2 PRECEDING AND CURRENT ROW
#   ) AS rolling_cost
# FROM 
#   patients 
#   JOIN demographics ON patients.patient_id = demographics.patient_id 
#   JOIN diagnoses ON patients.patient_id = diagnoses.patient_id 
#   JOIN costs ON patients.patient_id = costs.patient_id 
# GROUP BY 
#   demographics.age, 
#   demographics.gender, 
#   demographics.race_eth, 
#   diagnoses.disease, 
#   month
# ORDER BY 
#   month, 
#   rolling_cost DESC;

In [92]:
import altair as alt
import pandas as pd
import numpy as np

# create sample data
data = pd.DataFrame({
    'age': np.random.randint(18, 80, size=1000),
    'diabetes': np.random.choice(['Yes', 'No'], size=1000),
    'cost': np.random.normal(1000, 200, size=1000)
})

# create chart with mean cost by age and diabetes status
chart = alt.Chart(data).transform_aggregate(
    sum_cost='sum(cost)', groupby=['age', 'diabetes']
).mark_circle().encode(
    alt.X('age:Q', scale=alt.Scale(zero=False), axis=alt.Axis(title='Age')),
    alt.Y('sum_cost:Q', scale=alt.Scale(type='log'), axis=alt.Axis(title='Mean Cost ($)')),
    color=alt.Color('diabetes:N', scale=alt.Scale(scheme='category10'), legend=alt.Legend(title='Diabetes'))
)

# add trend line
trend = chart.transform_regression(
    'age', 'sum_cost', groupby=['diabetes'], method='poly', order=2
).mark_line().encode(
    alt.Color('diabetes:N', scale=alt.Scale(scheme='category10'))
)

# combine chart and trend line
chart = chart + trend

# display chart
chart

alt.LayerChart(...)

In [84]:
import altair as alt
import pandas as pd
import numpy as np

# create sample data
data = pd.DataFrame({
    'age': np.random.randint(18, 80, size=1000),
    'gender': np.random.choice(['Male', 'Female'], size=1000),
    'race': np.random.choice(['White', 'Black', 'Asian', 'Hispanic'], size=1000),
    'disease': np.random.choice(['A', 'B', 'C'], size=1000),
    'cost': np.random.normal(1000, 200, size=1000)
})

# create scatter plot with color encoding for disease
scatter = alt.Chart(data).mark_circle().encode(
    alt.X('age:Q', scale=alt.Scale(zero=False), axis=alt.Axis(title='Age')),
    alt.Y('cost:Q', scale=alt.Scale(type='log'), axis=alt.Axis(title='Cost ($)')),
    color=alt.Color('disease:N', scale=alt.Scale(scheme='category10'), legend=alt.Legend(title='Disease'))
)

# create bar chart with color encoding for race
bars = alt.Chart(data).mark_bar().encode(
    alt.X('race:N', axis=alt.Axis(title='Race')),
    alt.Y('mean(cost):Q', axis=alt.Axis(title='Mean Cost ($)')),
    color=alt.Color('race:N', scale=alt.Scale(scheme='set1'), legend=None)
)

# create trend line with color encoding for gender and race
trend = alt.Chart(data).transform_regression(
    'age', 'cost', groupby=['gender', 'race'], method='poly', order=2
).mark_line().encode(
    alt.X('age:Q', axis=alt.Axis(title='Age')),
    alt.Y('cost:Q', axis=alt.Axis(title='Cost ($)')),
    color=alt.Color('gender:N', scale=alt.Scale(scheme='set1')),
    detail='race:N'
)

# combine charts using facet and layer
chart = alt.vconcat(
    scatter,
    alt.hconcat(bars, trend, spacing=20),
    #.facet(row='disease', data=data),
    spacing=20
)

# display chart
scatter

alt.Chart(...)

In [76]:
import altair as alt
import pandas as pd
import numpy as np

# create sample data
data = pd.DataFrame({
    'x': np.random.randn(1000)
})

# create histogram layer with KDE
hist = alt.Chart(data).transform_density(
    'x', as_=['x', 'density']
).mark_area(opacity=0.5, interpolate='step').encode(
    alt.X('x:Q', bin=alt.Bin(maxbins=30), axis=alt.Axis(title='x')),
    alt.Y('density:Q', axis=alt.Axis(title='Density'))
)

# create trend line layer using the KDE
trend = hist.transform_regression(
    'x', 'density', method='linear', as_=['x', 'trend']
).mark_line(color='red').encode(
    alt.X('x:Q', axis=alt.Axis(title='x')),
    alt.Y('trend:Q', axis=alt.Axis(title='Trend'))
)

# combine layers
chart = hist + trend

# display chart
hist

alt.Chart(...)